.button-container {
    display: flex;
    flex-direction: column; /* Align buttons vertically */
    align-items: center; /* Center buttons horizontally */
}

button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 10px;
}

button img {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    border-radius: 60%;
}

button span {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    color: black; /* Set the text color */
    font-size: 18px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
}